@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Raleway";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
}
.header__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}

.menu__list {
  display: flex;
}
.menu__list li {
  position: relative;
  padding: 0px 37.5px;
}
.menu__list li:after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #4d4959;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -3px;
}
.menu__list li:last-child:after {
  display: none;
}
.menu__link {
  color: #2e2541;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu__link {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 150px 0 0 0;
    transform: translateY(-100%);
    transition: all 0.5s ease 0s;
  }
  .menu__body.active {
    transform: translateY(0);
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__list li {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2):after, .menu__list li:nth-child(3):after {
    display: block;
  }
  .menu__list li:last-child {
    padding: 0;
  }
  .menu__list li:after {
    width: 4px;
    height: 4px;
    background-color: black;
    right: 50%;
    top: 60px;
    margin: 0 -2px 0 0;
  }
  .menu__link {
    color: black;
    font-weight: 500;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 33px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.active span {
    transform: scale(0);
    background-color: black;
  }
  .icon-menu.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
}

.footer {
  background-color: #f7f8fc;
}
.footer__row {
  display: flex;
  padding: 70px 0;
  align-items: center;
}
.footer__column1 {
  flex: 0 1 60%;
  margin-right: 40px;
}
.footer__column2 {
  display: flex;
  flex: 0 1 40%;
}
.footer__address {
  width: 300px;
}
.footer__address a {
  font-size: 30px;
  line-height: 40px;
  color: #2e2541;
  margin-bottom: 12px;
}
.footer__address p {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #2e2541;
}
@media (max-width: 1100px) {
  .footer__row {
    padding: 50px 0;
  }
}
@media (max-width: 479px) {
  .footer__address {
    width: 300px;
  }
  .footer__address a {
    font-size: 26px;
    line-height: 30px;
  }
  .footer__address p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .footer__row {
    padding: 30px 0;
    flex-direction: column;
    text-align: center;
  }
  .footer__column1 {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .footer__address {
    padding: 0;
  }
  .footer__social {
    margin: 30px 0;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link {
  margin: 0 7.5px;
}
.social__link:first-child {
  margin-left: 0;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.member:first-child {
  margin-right: 70px;
}
.member__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #2e2541;
  margin-bottom: 5px;
}
.member__number {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #5d5869;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .member {
    align-items: center;
  }
  .member:first-child {
    margin-right: 30px;
  }
  .member__number {
    font-size: 15px;
    line-height: 20px;
  }
}

.dev {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dev__text {
  color: #848789;
  font-size: 14px;
  font-style: italic;
  padding: 0 9px 0 0;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.generation {
  padding: 180px 0 120px 0;
}
@media (max-width: 900px) {
  .generation {
    padding: 80px 0;
  }
}
@media (max-width: 479px) {
  .generation {
    padding: 70px 0 0 0;
  }
}

.block {
  position: relative;
}
.block__icon {
  margin: 0 0 30px 0;
}
.block__img {
  max-width: 70%;
}
.block__info {
  position: absolute;
  right: 0;
  top: 50%;
  width: 55%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 0 5%;
}
.block__title {
  color: #353738;
  font-size: 26px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 0 18px 4px;
}
.block__text {
  color: #2e2541;
  font-weight: 500;
  font-size: 60px;
  line-height: 84px;
}
@media screen and (max-width: 479px) {
  .block__info {
    height: 130px;
  }
  .block__title {
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 10px 0;
  }
  .block__text {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
  }
}
@media (max-width: 767px) {
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block__img {
    max-width: 100%;
  }
  .block__info {
    position: relative;
    transform: translateY(0);
    width: 100%;
    align-items: center;
    border: 0;
  }
}

.invitation__body {
  max-width: 767px;
  margin: 0 auto;
  text-align: start;
}
.invitation__description {
  color: #2e2541;
  width: 90%;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 35px 0;
}
.invitation__block {
  width: 100%;
  display: flex;
  padding: 50px 20px;
  justify-content: space-evenly;
  align-self: center;
  border: 1px solid #e0e0e0;
  background-color: #f7f8fc;
}
.invitation__col {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.invitation__col--sm {
  width: 30%;
}
.invitation__col--big {
  width: 40%;
}
.invitation__title {
  font-size: 30px;
  line-height: 40px;
  color: #2e2541;
  margin-bottom: 12px;
}
.invitation__subtitle {
  font-size: 18px;
  line-height: 24px;
  color: #5d5869;
}
@media (max-width: 479px) {
  .invitation__body {
    padding: 20px 0;
  }
  .invitation__description {
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin-right: 0;
  }
  .invitation__block {
    flex-direction: column;
    align-items: center;
    padding: 35px 15px;
  }
  .invitation__col {
    width: 100%;
  }
  .invitation__col--sm {
    margin-bottom: 20px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .invitation__body {
    padding: 50px 0;
  }
  .invitation__description {
    text-align: center;
    color: #2e2541;
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 35px 0;
  }
  .invitation__block {
    flex-direction: column;
    align-items: center;
    padding: 35px 15px;
  }
  .invitation__col {
    width: 60%;
  }
  .invitation__col--sm {
    margin-bottom: 20px;
  }
}

.history__body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.history__block {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 30px 60px;
  margin-bottom: 70px;
  background-color: #15111c;
  color: #ffffff;
  z-index: 5;
}
.history__title {
  width: 100%;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;
}
.history__text {
  font-size: 18px;
  line-height: 24px;
}
.history__img--first {
  position: absolute;
  width: 40%;
  top: 18%;
  left: 0;
}
.history__img--second {
  width: 40%;
  margin-left: -150px;
}
.history__img--third {
  width: 25%;
  position: absolute;
  bottom: 0;
  right: 4%;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .history__block {
    width: 500px;
    padding: 20px 50px;
    margin-bottom: 50px;
  }
  .history__body {
    padding-top: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .history__img--first {
    top: 22%;
  }
  .history__body {
    padding-top: 150px;
  }
}
@media (max-width: 767px) {
  .history {
    display: none;
  }
}

.timeline__body {
  width: 100%;
  margin: 0 auto;
  padding: 200px 0 100px 0;
  text-align: start;
  display: flex;
  border-bottom: 0.5px solid rgba(20, 17, 28, 0.2);
}
.timeline__title {
  font-size: 50px;
  line-height: 64px;
  color: #2e2541;
  margin-right: 10%;
}
.timeline__info {
  display: flex;
  flex-direction: column;
}
.timeline__block {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}
.timeline__time {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  width: 25%;
  color: #15111c;
  margin-right: 10%;
}
.timeline__activity {
  display: flex;
  flex-direction: column;
  width: 52%;
  font-size: 30px;
  line-height: 40px;
  color: #2e2541;
}
.timeline__subtext {
  font-size: 18px;
  line-height: 24px;
  color: #5d5869;
}
@media (max-width: 479px) {
  .timeline__body {
    padding: 50px 0 25px 0;
    flex-direction: column;
  }
  .timeline__title {
    font-size: 40px;
  }
  .timeline__time {
    font-size: 25px;
    line-height: 26px;
  }
  .timeline__activity {
    font-size: 24px;
    line-height: 26px;
  }
  .timeline__subtext {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 470px) and (max-width: 767px) {
  .timeline__body {
    padding: 100px 0 50px 0;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .timeline__title {
    margin-bottom: 40px;
  }
  .timeline__time {
    width: 30%;
  }
  .timeline__activity {
    width: 70%;
  }
}

.gift__body {
  width: 100%;
  margin: 0 auto;
  padding: 120px 0 180px 0;
  text-align: start;
  display: flex;
}
.gift__title {
  font-size: 50px;
  line-height: 64px;
  color: #2e2541;
  margin-right: 10%;
}
.gift__info {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  line-height: 40px;
  color: #5d5869;
}
@media (max-width: 479px) {
  .gift__title {
    font-size: 40px;
    margin: 0 0 10px 0;
  }
  .gift__info {
    width: 100%;
    font-size: 18px;
    line-height: 26px;
  }
}
@media (min-width: 470px) and (max-width: 767px) {
  .gift__info {
    width: 80%;
    font-size: 22px;
    line-height: 30px;
  }
  .gift__title {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 767px) {
  .gift__body {
    padding: 50px 0;
    flex-direction: column;
  }
  .gift__title {
    width: 30%;
  }
}

.confirm {
  background-color: #15111c;
}
.confirm__body {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0;
  color: white;
}
.confirm__title {
  font-size: 50px;
  line-height: 64px;
  margin-bottom: 10px;
}
.confirm__subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #f2f2f2;
  margin-bottom: 50px;
}
.confirm__form {
  width: 100%;
}
.confirm__input {
  width: 50%;
  height: 56px;
  padding: 16px 68px 16px 30px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 24px;
  margin-right: 40px;
}
.confirm__submit {
  height: 56px;
  padding: 16px 52px;
  border-radius: 5px;
  color: white;
  background: #734ed7;
  font-size: 18px;
  line-height: 24px;
}
@media (max-width: 479px) {
  .confirm__body {
    width: 100%;
  }
  .confirm__title {
    font-size: 26px;
    line-height: 30px;
  }
}
@media (min-width: 470px) and (max-width: 767px) {
  .confirm__title {
    font-size: 30px;
    line-height: 44px;
  }
}
@media (max-width: 767px) {
  .confirm__body {
    padding: 50px 0;
  }
  .confirm__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  .confirm__input {
    width: 100%;
    margin-bottom: 20px;
  }
}

.location {
  background-color: #f7f8fc;
}
.location__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 90px 0;
  border-bottom: 0.5px solid rgba(20, 17, 28, 0.2);
}
.location__map {
  width: 60%;
  height: 386px;
  margin-right: 40px;
}
.location__img {
  width: 40%;
}
@media (max-width: 767px) {
  .location__body {
    padding: 40px 0;
  }
  .location__map {
    width: 100%;
    margin-right: 0;
  }
  .location__img {
    display: none;
  }
}